
<div class="container">
  <h1>My Cookbooks</h1>

  <!-- <h3>Login </h3> -->

  <form action="/user/new" method="POST">
  <ul>
    <li><input id="contact_name" type="text" name="user[name]" placeholder = "Name" /></li>
    <li><input id="contact_email" type="text" name="user[email]" placeholder = "Email" /></li>
    <li><input id="contact_password" type="password" name="user[password]" placeholder = "Password" /></li>
    <li><input type="submit" value="Create account!"></li>
  </ul>
  </form>
  <p><a href="/logout">Logout</a></p>
</div>
