<div class="container">
  <h1>My Cookbooks</h1>

  <p>Please login</p>

  <% if @error %>
    <%=@error%>
  <%end%>

  <form action="/login" method="POST">
  <ul>
    <li><input id="contact_email" type="text" name="user[email]" placeholder = "Email" /></li>
    <li><input id="contact_password" type="password" name="user[password]" placeholder = "Password" /></li>
    <li><input type="submit" value="Login"></li>
  </ul>
    <p><a href="/users/">Create a new account</a></p>
  </form>

</div>
